.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5vh;
  padding: 3% 5%;
  color: white;
  background: #3ef0b8;
}
.head h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.head h1 span {
  margin-top: -5px;
}
.head a {
  text-decoration: none;
}
.head a:visited {
  color: white;
}
